<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <a href="/admin" class="logo">
        <span class="logo-mini"><b>A</b>RE</span>
        <span class="logo-lg"><b>Admin</b>VRE</span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="http://www.mabbscabs.co.uk/assets/images/user-160x160.png" class="user-image" alt="User Image">
                <span class="hidden-xs">{{nombre_user}}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="http://www.mabbscabs.co.uk/assets/images/user-160x160.png" class="img-circle" alt="User Image">
                  <p>
                    {{nombre_user}}
                    <small>Member since Nov. 2012</small>
                  </p>
                </li>

                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <button class="btn btn-default btn-flat" (click)="singOut()">Sign out</button>
                  </div>
                </li>
              </ul>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Administrar</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-institution"></i> <span>Empresa</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/admin/empresas/"><i class="fa fa-circle-o"></i> Lista</a></li>
              <li><a routerLink="/admin/empresas/agregar"><i class="fa fa-circle-o"></i> Agregar</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-user"></i> <span>Usuarios</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/admin/usuarios"><i class="fa fa-circle-o"></i> Lista</a></li>
              <li><a routerLink="/admin/usuarios/agregar"><i class="fa fa-circle-o"></i> Agregar</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i> <span>Servidores</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/admin/servidores"><i class="fa fa-circle-o"></i> Lista</a></li>
              <li><a routerLink="/admin/servidores/agregar"><i class="fa fa-circle-o"></i> Agregar</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Monitoreo</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a><i class="fa fa-circle-o"></i>Apache</a></li>
              <li><a><i class="fa fa-circle-o"></i>Tomcat</a></li>
              <li><a><i class="fa fa-circle-o"></i>MySQL</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </aside>

    <div class="content-wrapper">
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </div>

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
      reserved.
    </footer>

    <div class="control-sidebar-bg"></div>
  </div>

</body>